*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background:rgb(18, 104, 61);
}


#login {
   
    width:400px;
    margin:auto;
    margin-top:150px;
    margin-bottom:50px;
    border-top:10px solid aqua;
    padding:15px;
    background:#fff;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    
}

span:hover {
    text-decoration: underline;
}

#login h1 {
  
     text-align: center;
     margin-bottom: 18px;

}


input{
    display:block;
}

#login input[type="text"]{
   
      width:300px;
      border:1px solid #ccc;
      border-radius: 4px;
      padding:10px;
      margin:auto;
      margin-bottom:10px;
      padding:8px;

}

#login input[type="password"]{
      
    width:300px;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    padding:8px;
}

#login input[type="submit"]{
   
    width:300px;
    margin:auto;
    margin-top:10px;
    padding:8px;
    background-color: aqua;
    border:none;
    border-radius:4px;
    color:#fff;
    padding:10px;
}

#login input[type="submit"]:hover {
   
    background-color: rgba(0, 255, 255, 0.582);

}

#cadastro {
 
    width:400px;
    margin:auto;
    margin-top:150px;
    margin-bottom:50px;
    border-top:10px solid aqua;
    padding:15px;
    background:#fff;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.308);
    border-radius: 5px;

}

#cadastro h1{
     text-align: center;
     margin-bottom: 18px;
}

#cadastro input[type="text"] {
    width:300px;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    padding:8px;
}

#cadastro input[type="email"] {
    width:300px;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    padding:8px;
}

#cadastro input[type="password"]{
    width:300px;
    border:1px solid #ccc;
    border-radius: 4px;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    padding:8px;
}
#cadastro input[type="submit"]{
    width:300px;
    margin:auto;
    margin-top:10px;
    padding:8px;
    background-color: aqua;
    border:none;
    border-radius:4px;
    color:#fff;
    padding:10px;
}

/* The alert message box */
.alert-error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}
.alert-sucess {
    padding: 20px;
    background-color: #078318; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .alert {
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
  }
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  